<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- меню -->
    <script type="application/javascript" src="assets/js/input.js"></script>

    <script type="application/javascript" src="assets/js/draw.js"></script>

    <script type="application/javascript" src="assets/js/graph.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.3.0/dist/socket.io.slim.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>

<body class="container">
{{ template "menu.html" . }}
</body>
<div id="container">
    <div id="content">
        <!--------------------------------------------------------------------------------------->
        <b class="blue2" id="posID"></b><br>
        <canvas id="canvas" width="950px" height="500px" ></canvas>
        <br>
        <textarea id="txt_nodes" rows="15" cols="112"></textarea>
        <br>
        <hr>
    </div>
</div>


<script>
    var canvas = document.getElementById('canvas');
    canvas.addEventListener("mousedown", mouseDn, false);
    canvas.addEventListener("mouseup",   mouseUp, false);
    canvas.addEventListener("mousemove", mouseMv, false);


    var draw  = new Draw('canvas');
    var graph = new Graph();
    var nodeR = Graph.svg.w/2;
    var gridW = 10;
    var gridH = 10;

    var nodeSel1 = -1;
    var nodeSel2 = -1;
    Graph.svg.colors = ['#FFA', '#F00', '#0F0'];
    Graph.svg.sText = 10;
    Graph.svg.chW   =  7;
    var socket = io();
    var s2 = io("/graph");



    var mouseButtonDn = false;
    var startOptimize = false;
    var nodeSel;

    window.onload = function() {
        socket("");
    };


    function socket(dt) {
        st =  dt;




        s2.emit('data', st, function(data){

            obj = JSON.parse(data);

            for (var j = 0; j < obj.length; j++){

                graph.nodes.push({nm:obj[j].nm, go:[], x:obj[j].x, y:obj[j].y});
            }

            document.getElementById('txt_nodes').value = data;

            show();

           // alert('ok');


        });

       // socket.emit('notice', 'gvcjhbsdcjkn');
    }

    function create()
    {
        var params = JSON.parse({ "d":10 });
        graph = new Graph();
        gridW = gridH = params.d;
        show();

    }

    function init()
    {
        graph.plotCanvas('canvas');
       // alert("dwcedce");
        socket("")


    }
    function show()
    {

        draw.clear();
        draw.colorFill('#FFF');
        draw.colorLine('#eeeeee');
        draw.box(draw.w/2,draw.h/2, draw.w, draw.h);
        for(var i=0; i < draw.w/gridW; i++)
            draw.line(i*gridW, 0, i*gridW, draw.h);
        for(var j=0; j < draw.h/gridH; j++)
            draw.line(0, j*gridH, draw.w, j*gridH);

        graph.plotCanvas('canvas');
       // document.getElementById('txt_nodes').value = graph.getJSON();
    }
    function getPos(event)
    {
        var rct = canvas.getBoundingClientRect();
        return { x: event.clientX - rct.left,  y: event.clientY - rct.top };
    }

    function mouseDn(event)
    {
        mouseButtonDn = true;
    }
    function mouseUp(event)
    {
        mouseButtonDn = false;

        var  p = getPos(event);
        var n = graph.getNode(p.x, p.y, nodeR);

        if(n >= 0){
            if     (input.isDown('r') && n !== nodeSel1 && nodeSel1 >= 0 ){      // создаём ребро
                graph.addRib(nodeSel1, n);
            }
            else if(input.isDown('a') && n !== nodeSel1 && nodeSel1 >= 0 ){      // создаём ребро
                graph.addRib(nodeSel1, n);
                graph.addRib(n, nodeSel1);

                s2.emit('data', JSON.stringify(graph.nodes), function(data){

                    obj = JSON.parse(data);
                    //graph.nodes.clear();
                    graph.nodes.length = 0

                    for (var j = 0; j < obj.length; j++){

                        graph.nodes.push({nm:obj[j].nm, go:obj[j].go, x:obj[j].x, y:obj[j].y, edgestart:obj[j].edge_start, edgestop:obj[j].edge_stop});

                    }

                   // document.getElementById('txt_nodes').value = data;

                    // alert('ok send data');
                });

            }
            else if(input.isDown('c') && n !== nodeSel1 && nodeSel1 >= 0 ){      // создаём ребро
                graph.delRib(nodeSel1, n);
                graph.delRib(n, nodeSel1);
            }
            else if(input.isDown('d') && (n === nodeSel1 || n === nodeSel2) ){                       // удаляем узел
                graph.delNode(n);
                nodeSel1 = nodeSel2 = -1;

                s2.emit('data', JSON.stringify(graph.nodes), function(data){

                    obj = JSON.parse(data);
                    //graph.nodes.clear();
                    graph.nodes.length = 0

                    for (var j = 0; j < obj.length; j++){

                        graph.nodes.push({nm:obj[j].nm, go:obj[j].go, x:obj[j].x, y:obj[j].y, edgestart:obj[j].edge_start, edgestop:obj[j].edge_stop});

                    }

                   // document.getElementById('txt_nodes').value = data;

                });
            }
            else{
                if(nodeSel1 >= 0 && n !== nodeSel1 )     // была пометка
                    graph.nodes[nodeSel1].chk = 0;
                graph.set("chk", 0);
                graph.nodes[n].chk = 1;                  // делаем новую пометку
                nodeSel1 = n;
                nodeSel2 = -1;
            }
        }
        else{
            if(nodeSel1 >= 0 ){                         // снимаем пометку
                graph.nodes[nodeSel1].chk = 0;
                nodeSel1 = -1;
            }

            if(nodeSel2 < 0){
                p.x = Math.round(p.x/gridW)*gridW;       // добавляем узел
                p.y = Math.round(p.y/gridH)*gridH;
                graph.nodes.push({nm:graph.nodes.length, go:[], x:p.x, y:p.y, edge:[]});
               // socket(JSON.stringify(graph.nodes))

                socket.on('event:graphs', function(data){
                    //alert(data);
                    //document.getElementById('txt_nodes').value = graph.getJSON();
                    obj = JSON.parse(data);

                    //graph.nodes.clear();
                    graph.nodes.length = 0

                    for (var j = 0; j < obj.length; j++){

                        graph.nodes.push({nm:obj[j].nm, go:obj[j].go, x:obj[j].x, y:obj[j].y, edgestart:obj[j].edge_start, edgestop:obj[j].edge_stop});

                    }

                    //document.getElementById('txt_nodes').value = data;

                    show();
                });


                socket.on('event:short', function(data){
                    //alert(data);
                    //document.getElementById('txt_nodes').value = graph.getJSON();
                    obj = JSON.parse(data);

                    // //graph.nodes.clear();
                    // graph.nodes.length = 0
                    //
                    // for (var j = 0; j < obj.length; j++){
                    //
                    //     graph.nodes.push({nm:obj[j].nm, go:obj[j].go, x:obj[j].x, y:obj[j].y});
                    // }

                    //alert(data);


                    document.getElementById('txt_nodes').value = data;

                    //show();
                });


                s2.emit('data', JSON.stringify(graph.nodes), function(data){

                    obj = JSON.parse(data);
                    //graph.nodes.clear();
                    graph.nodes.length = 0

                    for (var j = 0; j < obj.length; j++){

                        graph.nodes.push({nm:obj[j].nm, go:obj[j].go, x:obj[j].x, y:obj[j].y, edgestart:obj[j].edge_start, edgestop:obj[j].edge_stop});

                    }

                    //document.getElementById('txt_nodes').value = data;


                   // alert('ok send data');


                });

            }
        }


        show();
    }

    function mouseMv(event)
    {
        var p = getPos(event);
        var n = graph.getNode(p.x, p.y, nodeR);


        if(mouseButtonDn && nodeSel2 >= 0){
            graph.nodes[nodeSel2].x = Math.round(p.x/gridW)*gridW;
            graph.nodes[nodeSel2].y = Math.round(p.y/gridH)*gridH;


            s2.emit('data', JSON.stringify(graph.nodes), function(data){

                obj = JSON.parse(data);
                //graph.nodes.clear();
                graph.nodes.length = 0

                for (var j = 0; j < obj.length; j++){

                    graph.nodes.push({nm:obj[j].nm, go:obj[j].go, x:obj[j].x, y:obj[j].y, edgestart:obj[j].edge_start, edgestop:obj[j].edge_stop});
                }

                //document.getElementById('txt_nodes').value = data;

            });


        }
        else{

            if(n >= 0 && n !== nodeSel1){
                graph.nodes[n].chk = 2;
                nodeSel2 = n;
            }
            if(n < 0 && nodeSel2 >=0  && nodeSel2 !== nodeSel1){
                graph.nodes[nodeSel2].chk = 0;
                nodeSel2 = -1;
            }
        }
        var st = "";
        if(nodeSel1>=0){
            st =  JSON.stringify(graph.nodes[nodeSel1]);
            st = ";  "+nodeSel1+":" + st.replace(/\"(\w+)\":/g, '$1:');
        }
        document.getElementById('posID').innerHTML = 'x:'+Math.round(p.x*10)/10+' y:'+Math.round(p.y*10)/10
            + st;
        ;//+' n='+n+' sel1='+nodeSel1+' sel2='+nodeSel2;

        show();
    }

</script>


</body>
</html>